/logs/**
.idea/
*.iml

# build files

/build/
/dist/
/nbproject/
/target/

/ms-tools/MapleArrowFetcher/build/
/ms-tools/MapleArrowFetcher/dist/
/ms-tools/MapleArrowFetcher/nbproject/

/ms-tools/MapleBossHpBarFetcher/build/
/ms-tools/MapleBossHpBarFetcher/dist/
/ms-tools/MapleBossHpBarFetcher/nbproject/

/ms-tools/MapleCashCosmeticsChecker/build/
/ms-tools/MapleCashCosmeticsChecker/dist/
/ms-tools/MapleCashCosmeticsChecker/nbproject/

/ms-tools/MapleCashCosmeticsFetcher/build/
/ms-tools/MapleCashCosmeticsFetcher/dist/
/ms-tools/MapleCashCosmeticsFetcher/nbproject/

/ms-tools/MapleCashDropFetcher/build/
/ms-tools/MapleCashDropFetcher/dist/
/ms-tools/MapleCashDropFetcher/nbproject/

/ms-tools/MapleCashVegaChecker/build/
/ms-tools/MapleCashVegaChecker/dist/
/ms-tools/MapleCashVegaChecker/nbproject/

/ms-tools/MapleCodeCouponGenerator/build/
/ms-tools/MapleCodeCouponGenerator/dist/
/ms-tools/MapleCodeCouponGenerator/nbproject/

/ms-tools/MapleCouponInstaller/build/
/ms-tools/MapleCouponInstaller/dist/
/ms-tools/MapleCouponInstaller/nbproject/

/ms-tools/MapleDojoUpdater/build/
/ms-tools/MapleDojoUpdater/dist/
/ms-tools/MapleDojoUpdater/nbproject/

/ms-tools/MapleEmptyItemWzChecker/build/
/ms-tools/MapleEmptyItemWzChecker/dist/
/ms-tools/MapleEmptyItemWzChecker/nbproject/

/ms-tools/MapleEquipmentOmnileveler/build/
/ms-tools/MapleEquipmentOmnileveler/dist/
/ms-tools/MapleEquipmentOmnileveler/nbproject/

/ms-tools/MapleEventMethodFiller/build/
/ms-tools/MapleEventMethodFiller/dist/
/ms-tools/MapleEventMethodFiller/nbproject/

/ms-tools/MapleGachaponItemidRetriever/build/
/ms-tools/MapleGachaponItemidRetriever/dist/
/ms-tools/MapleGachaponItemidRetriever/nbproject/

/ms-tools/MapleIdRetriever/build/
/ms-tools/MapleIdRetriever/dist/
/ms-tools/MapleIdRetriever/nbproject/

/ms-tools/MapleInvalidItemIdFetcher/build/
/ms-tools/MapleInvalidItemIdFetcher/dist/
/ms-tools/MapleInvalidItemIdFetcher/nbproject/

/ms-tools/MapleInvalidItemWithNoNameFetcher/build/
/ms-tools/MapleInvalidItemWithNoNameFetcher/dist/
/ms-tools/MapleInvalidItemWithNoNameFetcher/nbproject/

/ms-tools/MapleMapFieldLimitChecker/build/
/ms-tools/MapleMapFieldLimitChecker/dist/
/ms-tools/MapleMapFieldLimitChecker/nbproject/

/ms-tools/MapleMapInfoRetriever/build/
/ms-tools/MapleMapInfoRetriever/dist/
/ms-tools/MapleMapInfoRetriever/nbproject/

/ms-tools/MapleMapLootLimitChecker/build/
/ms-tools/MapleMapLootLimitChecker/dist/
/ms-tools/MapleMapLootLimitChecker/nbproject/

/ms-tools/MapleMesoFetcher/build/
/ms-tools/MapleMesoFetcher/dist/
/ms-tools/MapleMesoFetcher/nbproject/

/ms-tools/MapleMobBookIndexer/build/
/ms-tools/MapleMobBookIndexer/dist/
/ms-tools/MapleMobBookIndexer/nbproject/

/ms-tools/MapleMobBookUpdate/build/
/ms-tools/MapleMobBookUpdate/dist/
/ms-tools/MapleMobBookUpdate/nbproject/

/ms-tools/MapleQuestItemCountFetcher/build/
/ms-tools/MapleQuestItemCountFetcher/dist/
/ms-tools/MapleQuestItemCountFetcher/nbproject/

/ms-tools/MapleQuestItemFetcher/build/
/ms-tools/MapleQuestItemFetcher/dist/
/ms-tools/MapleQuestItemFetcher/nbproject/

/ms-tools/MapleQuestlineFetcher/build/
/ms-tools/MapleQuestlineFetcher/dist/
/ms-tools/MapleQuestlineFetcher/nbproject/

/ms-tools/MapleQuestMesoFetcher/build/
/ms-tools/MapleQuestMesoFetcher/dist/
/ms-tools/MapleQuestMesoFetcher/nbproject/

/ms-tools/MapleReactorDropFetcher/build/
/ms-tools/MapleReactorDropFetcher/dist/
/ms-tools/MapleReactorDropFetcher/nbproject/

/ms-tools/MapleSkillbookChanceFetcher/build/
/ms-tools/MapleSkillbookChanceFetcher/dist/
/ms-tools/MapleSkillbookChanceFetcher/nbproject/

/ms-tools/MapleSkillbookStackUpdate/build/
/ms-tools/MapleSkillbookStackUpdate/dist/
/ms-tools/MapleSkillbookStackUpdate/nbproject/

/ms-tools/MapleSkillMakerFetcher/build/
/ms-tools/MapleSkillMakerFetcher/dist/
/ms-tools/MapleSkillMakerFetcher/nbproject/

/ms-tools/MapleSkillMakerReagentIndexer/build/
/ms-tools/MapleSkillMakerReagentIndexer/dist/
/ms-tools/MapleSkillMakerReagentIndexer/nbproject/

/ms-tools/MapleWorldmapChecker/build/
/ms-tools/MapleWorldmapChecker/dist/
/ms-tools/MapleWorldmapChecker/nbproject/

/ms-tools/SpiderDropFetcher/build/
/ms-tools/SpiderDropFetcher/dist/
/ms-tools/SpiderDropFetcher/nbproject/

/out
*.onetoc2
